theme "rose-pine-dawn"

keybinds {
    // tmux {
    //     bind "s" {
    //         LaunchOrFocusPlugin "session-manager" {
    //             floating true
    //                 move_to_focused_tab true
    //         };
    //         SwitchToMode "Normal"
    //     }
    // }
    normal clear-defaults=true {
        // tmux
        bind "Ctrl b" { SwitchToMode "Tmux"; }
        // unbind "Ctrl b"
    }

    tmux clear-defaults=true {
        bind "Ctrl b" {
            // Write 2;
            SwitchToMode "Normal";
        }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "g" { SwitchToMode "Locked"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "n" { SwitchToMode "Resize"; }
        bind "h" { SwitchToMode "Move"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
        bind "q" { Quit; }
    }
}

// default_layout "compact"
pane_frames false
